src/main/resources/wsdl/empleado.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://parameta.com/empleado" elementFormDefault="qualified">

    <xs:element name="guardarEmpleadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="primerNombre" type="xs:string"/>
                <xs:element name="segundoNombre" type="xs:string"/>
                <xs:element name="primerApellido" type="xs:string"/>
                <xs:element name="segundoApellido" type="xs:string"/>
                <xs:element name="tipoDocumento" type="xs:string"/>
                <xs:element name="documento" type="xs:string"/>
                <xs:element name="fechaNacimiento" type="xs:date"/>
                <xs:element name="fechaIngreso" type="xs:date"/>
                <xs:element name="cargo" type="xs:string"/>
                <xs:element name="salario" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="guardarEmpleadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="codigo" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>